
/* Responsive Font Sizes: */
html {
  font-size: 62.5%;
}


@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700,900');

/* So the whole site doesn't bounce when you pull down on it in Chrome, etc. */
html, body {
    height: 100%;
    /* overflow: hidden; */
    -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
}

.cont-1600max{
  max-width: 1600px;
  margin: 0 auto;
    overflow: hidden;
}
.col{
  padding-right: 16px;
  padding-left: 16px;
}
.container-fluid{
  padding-right: 16px;
  padding-left: 16px;
    overflow: hidden;
}

.container{
  padding-right: 16px;
  padding-left: 16px;
}
.row{
  margin-left: -16px;
  margin-right: -16px;       
}
@media (min-width: 1280px){
  .container {
    max-width: 1248px !important;  /* 1280 minus 15px on each side */
  }
}

/*  ========  HEADER ======= */
.header-cont{
  position: fixed;
  top: 0;
  z-index: 1;
}
.header{
  width: 100%;
  height: 4.0rem;
  //max-height: 150px;
  margin: 0 auto;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logos{
  width: 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo1{
  height: 1.4rem;
  max-height: 50px;
  margin-right: 20px;
}
.logo2{
  height: 0.8rem;
  max-height:  17px;
}
.button-1{
  height: 1.7rem;
  //max-height: 61px;
  background-color: #8095d9;
  font-size: 0.8rem;
  //font-size: 16px;
  padding: 0 2.5rem;
  color: #fff;
  border: 0;
  border-radius: 400px;
}
.button-1:hover{
  background-color: #6b84d6;
}
.white{
  background-color: #fff;
  transition: background-color 0.2s;
}
/*  ========  BOX  1 ======= */
.box--1{
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url('svg/bg-1-4013.svg');
  background-size: 250% 131%;

  padding-top: 0.0rem;
} 
  @media (min-width: 768px) {
    .box--1{
      background-size: 270% 131%; 
    }
  }
  @media (min-width: 1200px) {
    .box--1{
      //background-size: 4013px 1000px;
      background-size: 4013px 1186px;
      height: 900px;
    }
  }

.box1-content{
  padding: 9.0rem 5% 6.4rem 0;
  color: #252D47;
  font-size: 2.45rem;
  letter-spacing: 0.07rem;
  font-weight: 300;
  line-height: 3.4rem;
}
@media (min-width: 1280px) {
    .box1-content{
      margin-left: 10%;
    }
  }


.box1-content-text{
  font-weight: 300;
  color: #252D47;
}
.button-2{
  height: 3.5rem;
  min-width: 210px;
  margin-top: 4.0rem;
  font-size: 0.6rem;
  letter-spacing: .02rem;
  font-weight: 500;
  padding: 0 12%;
  color: #fff;
  border-radius: 400px;
  border: 0;
  box-shadow:  1.0rem 1.0rem 2.0rem 0 rgba(240,152,25,0.2);

  background: linear-gradient(to bottom, #F09819 , #FF5858);
  background:-webkit-gradient( linear, top, bottom,color-stop(0.05,#F09819),color-stop(1,#FF5858) );
  background:-moz-linear-gradient( center top,#F09819 5%,#FF5858 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F09819',endColorstr='#FF5858');
}
.button-2:hover{
  box-shadow:  1.0rem 1.0rem 2.0rem 0 rgba(240,152,25,0.4);
}

/*  ========  BOX 2 ======= */
.box--2{
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url('svg/bg-2-4013.svg');
  background-size: 250%  130%;

  padding-bottom: 2.0rem;
}        
  @media (min-width: 1200px) {
    .box--2{
      //background-size: 4013px 1400px ; 
      background-size: 4013px 900px ;
      height: 650px;
    }
  }

.box2-header{
  font-size: 1.3rem; 
  color: #252D47;
  font-weight: 500;
  margin-bottom: 1.0rem;  
}
.box2-subheader{
  font-size:  0.8rem;
  line-height: 28px;
  color: #49557D;
  font-weight: 400;
}

.box2-content-1{
  padding-top: 4.0rem;
}
  @media (min-width: 992px) {
    .box2-content-1{
      margin-left: 2%;
    }
  }
.box2-content-2{
  padding-top: 19.0rem;
  margin-bottom: 4.0rem;
}



/*  ========  BOX 3 ======= */
.box--3{
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url('svg/bg-3-4013.svg');
  background-size: 250%  60%;
  padding-bottom: 2.0rem;
}
  @media (min-width: 1200px) {
    .box--3{
      background-size: 4013px 930px;
    }
  }

.box3-content-1{
  margin-top: 6.0rem;
  padding-left: 8%;
  font-size: 1.65rem;
  font-weight: 300;
  line-height: 2.48rem;
  color: #fff;
}
.box3-brands{
  background-color: #fff;
  box-shadow:  0.0rem 2.0rem 4.0rem 0 rgba(0,0,0,0.08);
  border-radius: 0.4rem;
}
.brands-row{
  display: flex;
  justify-content: center;
}
  
.box3-brands-boxes{
  width: 50%;
  height: 9.0rem;
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: black;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3-brands-boxes:first-of-type{
  border-right: 1px solid #E4E8F1;
}
.brands-row:not(:last-of-type){
  border-bottom: 1px solid #E4E8F1;
}
.logo-boxes{
  text-align: center;
  padding-top: .25rem;
}
.logo-boxes img{
  height: 2.25rem;
}
#amazon-logo{
  height: 1.75rem;
}
#deezer-logo{
  height: 1.75rem;
}
.arrow-icon{
  display: none;
}
@media (min-width: 576px){
  .arrow-icon{
    display: inline-block;
  }
}

.box3-content-2{
  width: 100%;
  margin: 0 auto;
  padding: 2.0rem 3.0rem 4.0rem 3.0rem;
}
  @media (min-width: 576px){
    .box3-content-2{
      max-width: none;
    }
  }
/*  ========  BOX 4 ======= */
.box--4{
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url('svg/BG-4-4013.svg');
  background-size: 250% 110%;

  padding-bottom: 8.0rem;
}
.box4-item{
  margin: 0.5rem 0;
}

.box4-image{
  min-width: 80px;
}
.box4-item img{
  height: 6.1rem;
  margin: 1.4rem 0;
  max-width: 400px;
}
@media (min-width: 576px){
  .box--4{
    //height: 313px;
    background-size: 270% 110%;
    padding-top: 2.0rem;
    padding-bottom: 14.0rem;
  }
  .box4-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .box--4{
    background-size: 4013px 752px;
    height: 700px;
  }
}

.box4-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box4-header{
  font-size: 0.975rem;
  font-weight: 400;
  color: #252D47;
  line-height: 1.2rem;
  margin-bottom: 0.3rem;
}
.box4-subheader{
  font-size: 0.6rem;
  font-weight: 400;
  color: #252D47; 
}
/*  ========  BOX 5 ======= */
.box--5{
    background-position: 45% top;
    background-repeat: no-repeat;
    background-image: url(svg/bg-5-4614.svg);
    background-size: 540% 102%;
    padding: 4.0rem 0 8.0rem;
    margin-top: -3.0rem;
}

.box5-content{
  font-size: 1.65rem;
  font-weight: 300;
  line-height: 2.48rem;
  color: #fff;
  text-align: center;
}
.box5-header{
  text-align: center;
  max-width: 380px;
  margin: 0 auto;
}
.box5-tagline{
  font-size: 1.1rem;
  line-height: 1.0rem;
  font-weight: 400;
  color: #fff;
  margin: 1.5rem 0 2.0rem 0;
}

.box5-boxes{
  height: 30.0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.box5-box{
  width: 100%;
  max-width: 360px;
  height: 8.4rem;
  margin: 2.0rem auto;
  background-color: #fff;
  box-shadow:  0.6rem 1.0rem 1.0rem 0 rgba(0,0,0,0.1);
  border-radius: 0.375rem;
  font-size: 1.25rem;
  line-height: 1.9rem;
  color: #252D47;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
}
.box5-box img{
  width: 20%;
}
.box5-box-text{
  width: 66.4%;
  text-align: left;
}
  @media (min-width: 576px){
    .box--5{
      background-position: 45% top;
      background-size: 310% 90%;
      height: 750px; /* 950 */
    }
    .box5-box{
      margin: 2.0rem 0;
      max-width: none;
      padding: 0 12%;
      font-size: 0.75rem;
      line-height: 1.2rem;
    }
    .box5-header{
      text-align: left;
      padding-top: 4.0rem;
    }
    .box5-tagline{ 
      font-size: 0.6rem;
    }  
    .box5-content{
      text-align: left; 
    }
  }
  @media (min-width: 768px){
    .box--5{
      background-position: 45% top;
      background-size: 310% 100%;
      height: 750px; /* 950 */
    }
  }
  @media (min-width: 992px){
    .box--5{
      background-size: 310% 130%;
     }
  }
  @media (min-width: 1200px){
    .box--5{
      background-size: 310% 130%;
      height: 950px;
    }
  }


/*  ========  BOX 6 ======= */
.box--6{
  background-position: 55% top;
  background-repeat: no-repeat;
  background-image: url('svg/bg-6-4013.svg');
  background-size: 250%;
  padding-top: 2.0rem;
   
}
@media (min-width: 576px){
    .box--6{
      margin-top: -200px;
    }
}

@media (min-width: 768px){
    .box--6{
      margin-top: 0;
    }
}

.box6-content{
  height: 200px;
  background-color: white;
}
.box6-content-left{
  font-size: 1.65rem;
  color: #252D47;
  font-weight: 400;
  line-height: 2.48rem;
  padding-top: 0.8rem;
  margin-bottom: 1.0rem;
}
.box6-content-right{
  padding-left: 10%;
}
  @media (min-width: 576px){
    .box6-content-right{
      padding-left: 10%;
    }
  }
.box6-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3.5rem;
}
.box6-boxes{
  width: 45%;
}
.box6-box-num{
  font-size: 5.0rem;
  font-weight: 300;
  background: -webkit-linear-gradient(top, #F030C1, #2194D3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box6-box-words{
  width: 90%;
  font-size: 0.75rem;
  color: #252D47;
  line-height: 1.2rem;
  padding-top: 0.5rem;
}

/*  ========  BOX 7 ======= */
.box--7{
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url('svg/bg-7-4013.svg');
  background-size: 250%  100%;
}

.box7-content{
  text-align: center;
}

.box7-box1{
  width: 40%;
  margin-left: 50%;
  margin-top: 11.0rem;
  margin-bottom: 2.0rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
}
.box7-box1-2{
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-top: 1.0rem;
}

.button-3{
  height: 3.5rem;
  margin-left: 0; 
  font-size: 0.6rem;
  letter-spacing: 0.02rem;
  font-weight: 500;
  padding: 0 2.5rem;
  color: #fff;
  border-radius: 400px;
  border: 0;
  box-shadow:  1.0rem 1.0rem 2.0rem 0 rgba(0,0,0,0.2);

  background: linear-gradient(to bottom, #FF5858 , #F09819);
  background:-webkit-gradient( linear, top, bottom,color-stop(0.05,#FF5858),color-stop(1,#F09819) );
  background:-moz-linear-gradient( center top,#FF5858 5%,#F09819 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5858',endColorstr='#F09819');
}
.button-3:hover{
  box-shadow:  1.0rem 1.0rem 2.0rem 0 rgba(0,0,0,0.4);
}
@media (min-width: 576px){
  button-3 { 
    margin-left: 40%; 
  }
}

/*   ======  Footer  ======  */
.footer{
  margin: 3.0rem auto 2.0rem;
}
.footer-copyright, .footer-powered{
  font-size: 0.9rem; /* 1.4rem */
  line-height: 1.2rem; /*0.48rem;*/
  font-weight: 400;
  color: #798CB7;
  padding:  0.5rem 0;
}

@media (min-width: 426px){html { font-size: 64%; }}
@media (min-width: 476px){html { font-size: 66%; }}
@media (min-width: 576px){html { font-size: 72%; }}
@media (min-width: 768px){html { font-size: 89%; }}
@media (min-width: 992px){html { font-size: 108%; }}
@media (min-width: 1200px){html { font-size: 120%; }}
@media (min-width: 1280px){html { font-size: 140%; }}
